
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_LayoutMain.cshtml";
}

@section style{
    <link href="~/Content/style/login.css" rel="stylesheet" />
}

<div class="g-bd">
    <div class="m-bdbg">
        <div class="g-row">
            <div class="m-login-Page">
                <form class="login-form">
                    <h2 class="login-title">回音账号登录</h2>
                    <div class="m-container">
                        <div class="inputbox">
                            <div class="u-logo"></div>
                            <div class="u-input box auto-1497691033071-parent">
                                <input class="input" type="text" name="userName" value="" placeholder="邮箱账号" />
                            </div>
                        </div>
                        <div class="inputbox">
                            <div class="u-logo"></div>
                            <div class="u-input box auto-1497691033071-parent">
                                <input class="input" type="text" name="pwd" value="" placeholder="邮箱账号" />
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="登录" />
                </form>
            </div>
        </div>
    </div>
</div>

@section script{
    <script src="~/Content/script/jquery.validate.js"></script>
    <script>
        $(function () {
            $('.login-form').validate({
                submitHandler: function (form) {
                    alert("Hello");
                    var $form = $(form),
                    data = $form.serialize();     //序列化表单数据
                    //这里是jquery表单验证通过的时候执行的操作，比如这里，表单验证通过的时候执行了jquery的ajax的post操作
                    $.post('js/test.json', { data: data }, function (d) {
                        if (d.Flag) {
                            alert("如果返回为真，将执行这里代码")
                        } else {

                        }
                    }, 'json');
                }
            });

            $.extend($.validator.messages, {
                required: "必填",
                remote: "请修正该字段",
                email: "电子邮件格式不正确",
                url: "网址格式不正确",
                date: "日期格式不正确",
                dateISO: "请输入合法的日期 (ISO).",
                number: "请输入数字",
                digits: "只能输入整数",
                creditcard: "请输入合法的信用卡号",
                equalTo: "请再次输入相同的值",
                accept: "请输入拥有合法后缀名的字符",
                maxlength: $.validator.format("请输入一个 长度最多是 {0} 的字符"),
                minlength: $.validator.format("请输入一个 长度最少是 {0} 的字符"),
                rangelength: $.validator.format("请输入 一个长度介于 {0} 和 {1} 之间的字符"),
                range: $.validator.format("请输入一个介于 {0} 和 {1} 之间的值"),
                max: $.validator.format("请输入一个最大为{0} 的值"),
                min: $.validator.format("请输入一个最小为{0} 的值")
            });
        })
    </script>
}

