/*===================
    bannerLiist-css
======================*/
.banner {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
}

.banner > ul {
    display: none;
    /*width: 999999999px;*/
    height: 450px;
    position: absolute;
    top:0;
    left: 0;
}

.banner > ul > li  {
    float: left;
    height: 450px;
}

.banner > ul > li > a {
    display: block;
    font-size: 200px;
    text-align: center;
    line-height: 450px;
    font-weight: bold;
}

.left-btn,.right-btn {
    width: 61px;
    height: 61px;
    position: absolute;
    top: 45%;
    background: url("../img/right-1.png");
    cursor: pointer;
}

.left-btn {
    left: -50px;
    background: url("../img/left-1.png");
}
.right-btn {
    right:-50px;
}

.img-btn-list {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
}

.img-btn-list > span  {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 12px;
    margin: 0 5px;
    background: #FFFFFF;
    cursor: pointer;
}

.img-btn-list > span.current {
    border: 5px solid #dfcead;
    margin-bottom: -1px;
}





















